
<div class="body">
    <div class="page" >
       <div class="card" *ngIf="volunteer">
         <div class="container">
           
           <div class="content">
             <div class="text">
               <h2>{{volunteer.fullName}}</h2>
               <h3>Skills:<span>{{volunteer.skills}}</span> </h3>
               <h3>Courses :<span>{{volunteer.jobExperiences}}</span></h3>
               <h3>Job Experiences:<p>{{volunteer.jobExperiences}}</p> </h3>
               
               
             </div>  
           </div>
         </div>
         <div class="contact">
           <h3>Phone Number : <span>+962 {{volunteer.phoneNumber}}</span></h3>
           <h3>Email Address : <span>{{volunteer.emailAddress}}</span></h3>
           <h3>City : <span>{{volunteer.city}}</span></h3>
           <h3>Available Times : <span>{{volunteer.availableTimes}}</span></h3>
         </div>
       </div>
     </div>
   </div>
