
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>CONTACT US</h1>
    <div>
        
        <mat-form-field MatFormControlName>
            <mat-label for="Name">Enter Your Name</mat-label>
            <input color="primary" matInput placeholder="Input" type="text" formControlName="Name">
            <mat-error *ngIf="form.controls.Name.touched && form.controls.Name.invalid">The Input Is Invalid</mat-error>
          </mat-form-field>
        <small *ngIf=""></small>
    </div>
    <div>
        <mat-form-field>
        <mat-label for="email">Enter Your Email</mat-label>
            <input matInput placeholder="Input" type="text" formControlName="email">
            <mat-error *ngIf="form.controls.email.touched && form.controls.email.invalid">The Input Is Invalid</mat-error>
          </mat-form-field>
    </div>
    <div>
        
        <mat-form-field>
            <mat-label for="phone">Enter Your Phone Number</mat-label>
            <input matInput placeholder="Input" type="text" formControlName="phone">
            <mat-error *ngIf="form.controls.phone.touched && form.controls.phone.invalid">The Input Is Invalid</mat-error>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label for="massage">Enter Your Massage</mat-label>
            <textarea matNativeControl type="text" formControlName="massage"></textarea>
            <mat-error *ngIf="form.controls.massage.touched && form.controls.massage.invalid">The Input Is Invalid</mat-error>
          </mat-form-field>
    </div>
    
    <button type="submit"><mat-icon>send</mat-icon></button>
</form>