<div class="aboutUs">
    <h1 class="headerAboutPlatform">UPSCALE BY VOLUNTEERING</h1>
    <br>
    <p class="aboutPara">Connecting techies with charities, schools, and community groups who need help with technology projects</p>
    <br>
    <h2 class="headerAboutPlatform">WHAT IS UPSCALE BY VOLUNTEERING?</h2>
    <p class="aboutPara">Upsacle By Volunteering is a platform that links fresh graduate students who want to use their tech skills for the good of others with companies that need their help and to improve their skills </p>
    <h2 class="headerAboutPlatform">WHY WAS UPSCALE BY VOLUNTEERING CREATED?</h2>
    <p class="aboutPara">Through many years of being immersed in the tech community, we've come to realize that there is a real desire among tech-savvy individuals to "give back," but few platforms or channels connect them with opportunities to do so.</p>
    <br>
    <p class="aboutPara">In our work with charities and not-for-profits (NFPs), we have learned that technology is an area in which many of these companies lack expertise and often feel they are not equipped enough to deliver their services in the best possible way. .</p>
    <br>
    <p class="aboutPara">So, upscale by volunteering were born.</p>
    <h2 class="headerAboutPlatform">WHY IS UPSCALE BY VOLUNTEERING IMPORTANT?</h2>
    <p class="aboutPara">Many Not-for-profit companies work incredibly hard, often without suitable funding, to support some of the most vulnerable people in our society, but to be effective in the digital age they need technical support.</p>
    <br>
    <p class="aboutPara">Upsacle By volunteering links these NFPs with the good-hearted, technically gifted individuals who are willing to volunteer their skills to contribute to society beyond the scope of their day jobs.</p>
    <h2 class="headerAboutPlatform">WHY SHOULD I BECOME A TECH-VOLUNTEER?</h2>
    <p class="aboutPara">You will have the opportunity to use your skills and abilities to help charities and non-profit organizations operate in a more efficient and effective manner.</p>
    <br>
    <p class="aboutPara">Ultimately, your efforts will make a difference in people's lives - and help you improve your skills, learn new skills, and gain better opportunities.</p>

</div>
