


<div class="body" >
        <div class="page" >
           <div class="card" *ngIf="activity">
             <div class="container">
               
               <div class="content">
                 <div class="text">
                   <h2>{{activity.Name}}</h2>
                   <h2>Start Date : <span *ngIf="activity.range">{{activity.range.StartDate.toDate() | date:'yyyy/MM/dd'}}</span></h2>
                    <h2>EndDate : <span *ngIf="activity.range">{{activity.range.EndDate.toDate() | date:'yyyy/MM/dd'}}</span></h2>
                 </div>  
               </div>
             </div>
             <div class="contact">
               <h3>Number of technologists required : <span>{{activity.Numberoftechnologistsrequired ?? 0}}</span></h3>
               <h3>Skills Required : <span>{{activity.SkillsRequired}}</span></h3>
               <h3>Description : </h3>
               <div class="description">
               <p>{{activity.Description}}</p>
               </div>
             </div>
           </div>
         </div>
         
       </div>
       <!-- <div class="applicants">
        <div class="applicants-list" *ngFor="let applicant of applicants">
           <h1>Applicant Name :{{ applicant.applicantName }}</h1>     
        </div>
        
</div> -->
        

   
