
<div class="activityDetails"  *ngIf="activity">
    <h1>Name : <span>{{activity.Name}}</span></h1>
    <h3>Description : <span>{{activity.Description}}</span></h3>
    <h3>Skills Required : <span>{{activity.SkillsRequired}}</span></h3>
    <h3>Start Date : <span>{{activity.StartDate}}</span></h3>
    <h3>EndDate : <span>{{activity.EndDate}}</span></h3>
    <h3>Number of technologists required : <span>{{activity.Numberoftechnologistsrequired}}</span></h3>
</div>
<div class="applicants">
        <h1>Applicants :</h1>
        <div><!-- applicant --></div>
    </div>

