
 <div class="body">
 <div class="page" >
    <div class="card" *ngIf="company">
      <div class="container">
        
        <div class="content">
          <div class="text">
            <h1>{{company.CompanyName}} <br><h2>{{company.Type}} Company.</h2></h1>
            
          </div>  
        </div>
      </div>
      <div class="contact">
        <h3>Email Address : <span>{{company.EmailAddress}}</span></h3>
        <h3>Phone Number: <span>{{company.PhoneNumber}}</span></h3>
        <h3>Website URL : <span>{{company.WebsiteURL}}</span></h3>
      </div>
    </div>
  </div>
</div>
