
<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link
       routerLink="/companies/companyProfile">
      Company Profile <mat-icon>badge</mat-icon>
    </a>
    <a mat-tab-link
       routerLink="/companies/companyActivities">
      Company Activities <mat-icon>local_activity
      </mat-icon>
    </a>
    <a mat-tab-link
       routerLink="/companies/postNewActivity">
      Post New Activity <mat-icon>post_add</mat-icon>
    </a>
    <a mat-tab-link
       routerLink="/companies/allVolunteers">
      Volunteers <mat-icon>person</mat-icon>
    </a>  
  </nav>
  
  <router-outlet></router-outlet>