<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <h1><mat-icon class="logo">person</mat-icon></h1>
    <h1>LOGIN AS VOLUNTEER</h1>
    <div>
        
        <mat-form-field MatFormControlName>
            <mat-label for="email">ENTER YOUR EMAIL</mat-label>
            <input color="primary" matInput placeholder="Input" type="text" formControlName="email">
            <mat-error *ngIf="email?.errors?.['required']">Email Is Required</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Email Format Is Incorrect</mat-error>
          </mat-form-field>
        <small *ngIf=""></small>
    </div>
    <div>
        <mat-form-field>
        <mat-label for="password">ENTER YOUR PASSWORD</mat-label>
        <input color="primary" matInput placeholder="Input" type="password" formControlName="password">
        <mat-error *ngIf="password?.errors?.['required']">Password Is Required</mat-error>
        <mat-error *ngIf="password?.errors?.['minlength']">Password Must Be At Least 8 Characters</mat-error>
        </mat-form-field>
    </div>
    <mat-error *ngIf="formStatus">
        {{formStatus}}
    </mat-error>
    <button type="submit" [disabled]="loginForm.invalid"><mat-icon>send</mat-icon></button>
</form>