
  <div class="container" *ngIf="companyserves.userState$ | async as company">
    
        <h1 class="welcome-statment">Welcome to {{CompanyName}} company Profile</h1> 
          <div class="cover-photo" *ngIf="auth.userState$ | async as user">
      <img 

        [src]="user.photoURL ?? '../assets/images/profile-placeholder.jpg' " 
      
      class="profile">
      <button (click)="inputFile.click()"><mat-icon>edit</mat-icon></button>
      <input type="file" #inputFile accept="image/*" hidden (change)="submit($event)">
    </div>
    <div class="profile-name"> 
        <h1>{{Type}} Company</h1>
         
    </div>
    <p class="about">{{CompanyName}} company is a {{Type}} company Which provides various services to the local and global community</p>
     
    <div class="info"> 
       <h2> Email Address: <span>{{EmailAddress}}</span></h2>
        
       <h2> Phone Number:<span>+962 {{PhoneNumber}}</span></h2>
       
       <h2> Website:<span> {{WebsiteURL}}</span></h2>
      </div>
      <div class="editLink">
      <a routerLink="../editProfile" class="edit">Edit Profile</a>
    </div>
  </div>
  
  