
 <div class="body" >
    <div class="page" >
       <div class="card" *ngIf="activity">
         <div class="container">
           
           <div class="content">
             <div class="text">
               <h1>{{activity.Name}}</h1>
               <h2>Start Date : <span *ngIf="activity.range">{{activity.range.StartDate.toDate() | date:'yyyy/MM/dd'}}</span></h2>
                <h2>EndDate : <span *ngIf="activity.range">{{activity.range.EndDate.toDate() | date:'yyyy/MM/dd'}}</span></h2>
                <h2>Company Name :<span> {{activity.companyName}}</span></h2>
                <a class="about"  routerLink="/volunteer/allCompanies/{{activity.companyId}}">Read More About Company</a>
             </div>  
           </div>
         </div>
         <div class="contact">
           <h3>Number of technologists required : <span>{{activity.Numberoftechnologistsrequired ?? 0}}</span></h3>
           <h3>Skills Required : <span>{{activity.SkillsRequired}}</span></h3>
           <h3>Description : </h3>
           <div class="description">
           <p>{{activity.Description}}</p>
           </div>
         </div>

         <div class="contact">
          <h1>Apply For This Activity</h1>
          <form [formGroup]="form" (ngSubmit)="apply()">
            <div>
        
              <mat-form-field MatFormControlName>
                  <mat-label for="why">Why applying</mat-label>
                  <input color="primary" matInput placeholder="Input" type="text" formControlName="why">
                  <mat-error *ngIf="form.controls.why.touched && form.controls.why.invalid">The Input Is Invalid</mat-error>
                </mat-form-field>
              <small *ngIf=""></small>
          </div>
          <div>
        
            <mat-form-field MatFormControlName>
                <mat-label for="whatCanVolunteering">What you can volunteer</mat-label>
                <input color="primary" matInput placeholder="Input" type="text" formControlName="whatCanVolunteering">
                <mat-error *ngIf="form.controls.whatCanVolunteering.touched && form.controls.whatCanVolunteering.invalid">The Input Is Invalid</mat-error>
              </mat-form-field>
            
        </div>
          <div>
        
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input formGroupName ="range" [rangePicker]="picker">
                  <input matStartDate formControlName="StartDate" placeholder="Start date">
                  <input matEndDate formControlName="EndDate" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="form.controls.range.touched && form.controls.range.invalid">The Input Is Invalid</mat-error>
              </mat-form-field>
          </div>
          <button type="submit" [disabled]="form.invalid"><mat-icon>send</mat-icon></button>
          </form>
        </div>
       </div>
     </div>

   </div>