
.activityDetails{
    display: flex;
    flex-direction: column;
    padding: 3vw;
    background-color: rgb(0,128,128);
    align-items: center;
    /* margin: 1rem; */
}
.applicants{
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    padding: 2vw;
    background-color: rgb(0,128,128);
}
h1{
    align-self: center;
    padding: 1vw;
    color: #eea47fff ;
}
h3{
    padding:5px;
}
.about:link{
    text-decoration: none;
    color: white;
    font-size: large;
}
.about:visited{
    text-decoration: none;
    color: white;
    font-size: large;
}
.about:hover{
    text-decoration: none;
    color: #eea47fff;
    font-size: large;
    cursor: pointer;
    /* font-weight: bold; */
}