
<body>
        <div class="container" *ngIf="activityService.currentUserActivities$ | async as activities">
            <div class="card" *ngFor="let activity of activities">
                <div class="face face1">
                    <div class="content">
                        <h3>{{activity.Name}}</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Requirment Skills : {{activity.SkillsRequired}}</p>
                        <p *ngIf="activity.range">Start Date : {{activity.range.StartDate.toDate() | date:'yyyy/MM/dd'}}</p>
                        <p *ngIf="activity.range">End Date : {{activity.range.EndDate.toDate() | date:'yyyy/MM/dd'}}</p>
                        <a  routerLink="/companies/applicantView/{{activity.uid}}">View Applicant</a>
                        <a  routerLink="/companies/companyActivities/{{activity.uid}}">Read More</a>
                    </div>
                </div>
            </div>
           
        </div>
    </body>