
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>POST NEW ACTIVITY</h1>
    <div>
        
        <!-- <input type="text" formControlName="Name" >  -->
        <mat-form-field MatFormControlName>
            <mat-label for="Name">Activity Name</mat-label>
            <input color="primary" matInput placeholder="Input" type="text" formControlName="Name">
            <mat-error *ngIf="form.controls.Name.touched && form.controls.Name.invalid">The Input Is Invalid</mat-error>
          </mat-form-field>
        <small *ngIf=""></small>
    </div>
    <div>
        <mat-form-field>
        <mat-label for="Description">Activity Description</mat-label>
        <textarea matNativeControl type="text" formControlName="Description"></textarea>
        <mat-error *ngIf="form.controls.Description.touched && form.controls.Description.invalid">The Input Is Invalid</mat-error>
        </mat-form-field>
        <!-- <textarea type="text" formControlName="Description" ></textarea> -->
    </div>
    <div>
        <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Skills</mat-label>
            <mat-chip-list #chipList aria-label="Skills selection">
              <mat-chip *ngFor="let skill of skills" (removed)="remove(skill)" >
                {{skill}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="New Skill..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)" formControlName="SkillsRequired">
            <mat-error *ngIf="form.controls.SkillsRequired.touched && form.controls.SkillsRequired.invalid">The Input Is Invalid</mat-error>

            </mat-chip-list>
          </mat-form-field>
    </div>
    <div>
        
        <mat-form-field>
            <mat-label for="StartDate">Activity Start Date</mat-label>
            <input matInput placeholder="Input" type="text" formControlName="StartDate">
            <mat-error *ngIf="form.controls.StartDate.touched && form.controls.StartDate.invalid">The Input Is Invalid</mat-error>
          </mat-form-field>
        <!-- <input type="text" formControlName="StartDate" > -->
    </div>
    <div>
        <!-- <mat-label for="EndDate">Activity End Date</mat-label> -->
        <!-- <input type="text" formControlName="EndDate" > -->
        <mat-form-field>
            <mat-label for="EndDate">Activity End Date</mat-label>
            <input matInput placeholder="Input" type="text" formControlName="EndDate">
            <mat-error *ngIf="form.controls.EndDate.touched && form.controls.EndDate.invalid">The Input Is Invalid</mat-error>
          </mat-form-field>
    </div>
    <div>
        
        <!-- <input type="number" formControlName="Numberoftechnologistsrequired" > -->
        <mat-form-field>
            <mat-label for="Numberoftechnologistsrequired">Number Of Technologists Required</mat-label>
            <input matInput type="number" placeholder="Input" formControlName="Numberoftechnologistsrequired">
            <mat-error *ngIf="form.controls.Numberoftechnologistsrequired.touched && form.controls.Numberoftechnologistsrequired.invalid">The Input Is Invalid</mat-error>
          </mat-form-field>
    </div>
    <button type="submit"><mat-icon>send</mat-icon></button>
</form>
