<header class="header">
  <div class="item item1"><a routerLink="/"><img class="logo" src="../assets/images/logo1.jpg"></a></div>
  <div class="item item2">
      <ul>
          <li><a class="about" routerLink="/about">About us</a></li>
          <li><a class="why" routerLink="/contact">Contact us</a></li>
          <li><a class="opp" routerLink="/successStories">Success stories</a></li>
      </ul>
  </div>
  <div class="item item3">
    <a routerLink="#" class="loginBtn">Log In</a>
    <a routerLink="register" class="signupBtn">Sign Up</a>
  </div>
  </header>
  <div class="mainPage">
    <router-outlet></router-outlet>
  </div>
    