.header{
    display: flex;
    background-color: rgb(0,128,128);
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 14vh;
    width: 9vw;
    margin-top: 1vh;
}
.item2 ul{
    display: flex;
    list-style: none;
}
.item2 ul li{
    margin:2vw;
}
.about:link,.why:link,.opp:link,.loginBtn:link,.signupBtn:link,.logoutBtn:link{
    text-decoration: none;
    color: white;
    font-size: large;
}
.about:visited,.why:visited,.opp:visited,.loginBtn:visited,.signupBtn:visited,.logoutBtn:visited{
    text-decoration: none;
    color: white;
    font-size: large;
}
.about:hover,.why:hover,.opp:hover,.loginBtn:hover,.signupBtn:hover,.logoutBtn:hover{
    text-decoration: none;
    color: #eea47fff;
    font-size: large;
    cursor: pointer;
    /* font-weight: bold; */
}

.item3{
    display: flex;
    flex-direction: column;
}
.loginBtn,.signupBtn,.logoutBtn{
    background-color:rgb(0,128,128) ;
    color: white;
    border: 0;
    margin: 10px;
    font-size: 18px;
    
}

