<body>
    <div class="container" >
        <div class="card" >
            <div class="face face1">
                <div class="content">
                    <h3>Ahmad Become Full Stack Developer</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p class="success">After performing more than 100 different tasks in the field of PHP, Ahmed was able to obtain a work contract as Full Stack developer</p>
                </div>
            </div>
        </div>
       
    
    
        <div class="card" >
            <div class="face face1">
                <div class="content">
                    <h3>Drone Company Increased Productivity</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p class="success">After they published more than 300 tasks, they were able to gain more clients</p>
                    
                </div>
            </div>
        </div>
       
    
    
        <div class="card" >
            <div class="face face1">
                <div class="content">
                    <h3>Ali Become International Employee</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p class="success">After performing more than 100 different tasks in international companies, Ali was able to obtain a work contract in international company </p>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
