<body>
    <div class="container" >
        <div class="card" *ngFor="let company of companies">
            <div class="face face1">
                <div class="content">
                    <h3>{{company.CompanyName}}</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Company Type : {{company.Type}}</p>
                    <p>Websit URL : {{company.WebsiteURL}}</p>
                    
                    <a  routerLink="/volunteer/allCompanies/{{company.id}}">Read More</a>
                </div>
            </div>
        </div>
       
    </div>
</body>
