<div class="homeContent">
    <div>
    <h1 class="websiteName1">UPSCALE BY </h1>
    <h1 class="websiteName2">VOLUNTEERING</h1>
    <p class="linking">Linking between fresh graduate students<br><br> and companies by <span class="volunteering">volunteering</span>   </p>
   <div class="intro">
        <p >This site helps you practice your</p>
        <p >   technology skills by <span class="volunteering2">volunteering</span> to </p>
        <p >   perform a specific technical task at a</p> 
        <p >  specific company to help you develop</p>
        <p >  your skills and acquire new ones.</p>
    </div>
</div>
</div>