<!-- <div class="registerHeader">
    <a class="registerBtn" routerLink="/register/volunteerRegister">Register As Volunteer</a>
    <a class="registerBtn" routerLink="/register/companyRegister">Register As Company</a>
</div>
<div>
    <router-outlet></router-outlet>
</div> -->
<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link
       routerLink="/register/volunteerRegister">
       Register As Volunteer
    </a>
    <a mat-tab-link
       routerLink="/register/companyRegister">
       Register As Company
    </a>
  </nav>
  
  <router-outlet></router-outlet>